* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.navigation {
    padding: 25px;
    background: #333;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.card {
    background-color: white;
    width: 25rem;
    margin: 20px auto;
    color: #333;
}

.container-avatar {
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
}

.name {
    text-align: center;
}

.social {
    text-align: center;

}

.socialMedia {
    width: 30px;
    height: 30px;
    margin: 5px;
}